# itro to python

In [1]:
print("hello world")

hello world

In [3]:
import keyword
print(keyword.kwlist)
print("totaal length",len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
totaal length 33

In [4]:
#this is single line cmmnt
"""double line ccmnt"""

'double line ccmnt'

In [5]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
if true:
    print ("class is started");newCourse="ml"

NameError: name 'true' is not defined

In [8]:
if True:
    print("class has started")
newCourse="machine learning"

class has started

In [11]:
#DEFINING VARIABLES 
a=1
b=2.8
c="ml"

In [12]:
#multiple assingnment in single 
a,b,c=10,2.8,"ml"

In [14]:
x=100
print(id(x))

1949268128

In [15]:
y=100
print(id(y))

1949268128

In [16]:
print(type(a))

<class 'int'>

In [1]:
a=1+2j
print(type(a))

<class 'complex'>

In [2]:
a=True
print(type(a))

<class 'bool'>

In [4]:
a="this is ths course"
print(type(a))

<class 'str'>

In [5]:
print(a[0])              #it will print the first letter of sentence

t

In [7]:
a[5:]               #it will print the letter after 5th  letter

'is ths course'

In [11]:
#list
a=[1,2.9,"shubh",1+7j]
print(a)

[1, 2.9, 'shubh', (1+7j)]

In [12]:
a[2]="dodke"
print(a)

[1, 2.9, 'dodke', (1+7j)]

In [14]:
#tupples
#tupples are listed in (....)

a=(1,"shubham",2.5,)
print(a)

(1, 'shubham', 2.5)

In [17]:
a[2]=200
print(a)

TypeError: 'tuple' object does not support item assignment

In [18]:
a={'a','i','o','u'}
print(a)
print(type(a))

{'i', 'u', 'a', 'o'}
<class 'set'>

In [19]:
a={'a','a','i','o','u'}
print(a)

{'i', 'u', 'a', 'o'}

In [21]:
print(a[0])

TypeError: 'set' object does not support indexing

In [22]:
#key:values  (dictionary)
d={1:"jan",2:"feb",3:"march"}
print(d[2])

feb

In [23]:
#type casting  (conversion)
float(5)

5.0

In [27]:
when we convert string obj. to oj of other classes it must hav compatible values

ValueError: invalid literal for int() with base 10: 'j'

In [29]:
marks=78.44
print('this is the marks scored by '+str(marks))

this is the marks scored by 78.44

In [30]:
a=[1,2,3]
print(type(a))
set(a)

<class 'list'>

{1, 2, 3}

In [32]:
a="shubham"
set(a)

{'a', 'b', 'h', 'm', 's', 'u'}

# how to take input nd output

In [1]:
a=100
print("value of a is",a)

value of a is 100

In [3]:
total =200;
allclear=40
print("the total no of students is {} nd tota no. of stydents is {}".format(total,allclear))

the total no of students is 200 nd tota no. of stydents is 40

In [5]:
demand =250;
supply=10;
print("the demand for brocolli is {1} nd the demand is {0}".format(demand ,supply))

the demand for brocolli is 10 nd the demand is 250

In [7]:
print("welcome to {company}".format(company="visitfresh.com"))

welcome to visitfresh.com

In [1]:
for i in range(10):
    print("welcome to {company}........ this is your {0} visit".format(i,company="visitfresh.com"))

welcome to visitfresh.com........ this is your 0 visit
welcome to visitfresh.com........ this is your 1 visit
welcome to visitfresh.com........ this is your 2 visit
welcome to visitfresh.com........ this is your 3 visit
welcome to visitfresh.com........ this is your 4 visit
welcome to visitfresh.com........ this is your 5 visit
welcome to visitfresh.com........ this is your 6 visit
welcome to visitfresh.com........ this is your 7 visit
welcome to visitfresh.com........ this is your 8 visit
welcome to visitfresh.com........ this is your 9 visit

In [11]:
name=input("wats ur name ")
print(name)

wats ur name shubham
shubham