In [6]:
set1=[1,5,10]
print(type(set1))

<class 'list'>

In [3]:
set2={1,2,2}
print(set2)

{1, 2}

In [9]:
set2.add(11)
print(set2)

{1, 2, 11}

In [14]:
set2.discard(11)
print(set2)

{1, 2}

In [15]:
set1.clear()
print(set1)

[]

In [16]:
set1={1,2,3,4,5}
set2={2,100,1,99,10}

print(set1|set2)    #uniun operation 
print(set1 & set2)  #intersection of set

{1, 2, 3, 4, 5, 99, 100, 10}

In [18]:
#- function
print(set1 - set2)
print(set1 ^ set2)

{3, 4, 5}
{99, 100, 3, 4, 5, 10}